*~
*#*
*.cmd
*.mod
*.mod.c
*.a
*.ko
*.o
*.order
*.symvers
debian/install
debian/.debhelper
debian/*.log
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/i2cipc-controller-dkms/
debian/i2cipc-responder-dkms/
